.vscode/**
.vscode-test/**
.claude/**
out/**
node_modules/**
src/**
.prd/**
.ralph/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
progress.txt
prd.json
*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
